html, body {
	min-height: 100%;
}

body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 400px;
    background-color: #000000e0;
    color: #fff;
    padding: 40px;
}

.top-20 {
    margin-top: 20px;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}
input {
    
}

.row {
	margin: 0px !important;
}

.hidden {
	display: none;
}

#insurancePanel {
	padding: 10px;
	boarder-radius: 2px;
	background-color: gray;
}

#insurancePanel h4, h5 {
	color: white;
	text-align: center;
}

#insuranceDisplay {
	color: white;
	text-align: center;
	background-color: rgb(0, 124, 62);
	padding: 32px;
	border-radius: 2px;
	border: 2px solid rgb(0, 78, 39);
}